In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyClassifier

In [2]:
df = pd.read_excel('usefile.xlsx')

In [3]:
df

,Gender Index,Age,Hypertension,Heart Disease,Martial Status,Work Type Index,Residence Type,Average Glucose Level,BMI,Smoking Status Index,Stroke
0,0,3.00,0,0,0,0,0,95.12,18.00,0,0
1,0,58.00,1,0,1,2,1,87.96,39.20,0,0
2,1,8.00,0,0,0,2,1,110.89,17.60,0,0
3,1,70.00,0,0,1,2,0,69.04,35.90,1,0
4,1,47.00,0,0,1,2,1,210.95,50.10,0,0
...,...,...,...,...,...,...,...,...,...,...,...
43395,1,10.00,0,0,0,0,1,58.64,20.40,0,0
43396,1,56.00,0,0,1,4,1,213.61,55.40,1,0
43397,1,82.00,1,0,1,2,1,91.94,28.90,1,0
43398,0,40.00,0,0,1,2,1,99.16,33.20,0,0
43399,1,82.00,0,0,1,2,1,79.48,20.60,0,0

In [4]:
df.describe()

,Gender Index,Age,Hypertension,Heart Disease,Martial Status,Work Type Index,Residence Type,Average Glucose Level,BMI,Smoking Status Index,Stroke
count,43400.00,43400.00,43400.00,43400.00,43400.00,43400.00,43400.00,43400.00,43400.00,43400.00,43400.00
mean,0.59,42.22,0.09,0.05,0.64,2.12,0.50,104.48,28.57,0.48,0.02
std,0.49,22.52,0.29,0.21,0.48,1.10,0.50,43.11,7.64,0.74,0.13
min,0.00,0.08,0.00,0.00,0.00,0.00,0.00,55.00,10.10,0.00,0.00
25%,0.00,24.00,0.00,0.00,0.00,2.00,0.00,77.54,23.40,0.00,0.00
50%,1.00,44.00,0.00,0.00,1.00,2.00,1.00,91.58,27.70,0.00,0.00
75%,1.00,60.00,0.00,0.00,1.00,3.00,1.00,112.07,32.60,1.00,0.00
max,2.00,82.00,1.00,1.00,1.00,4.00,1.00,291.05,97.60,2.00,1.00

In [8]:
X = df.drop('Stroke',axis=1)
X.head(5)

,Gender Index,Age,Hypertension,Heart Disease,Martial Status,Work Type Index,Residence Type,Average Glucose Level,BMI,Smoking Status Index
0,0,3.00,0,0,0,0,0,95.12,18.00,0
1,0,58.00,1,0,1,2,1,87.96,39.20,0
2,1,8.00,0,0,0,2,1,110.89,17.60,0
3,1,70.00,0,0,1,2,0,69.04,35.90,1
4,1,47.00,0,0,1,2,1,210.95,50.10,0

In [9]:
y = df['Stroke']
y.head(10)

0    0
1    0
2    0
3    0
4    0
Name: Stroke, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=0)

In [11]:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf.fit(X_train, X_test, y_train, y_test)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29/29 [14:00<00:00, 28.99s/it]

In [12]:
print(models)

                               Accuracy  Balanced Accuracy  ROC AUC  F1 Score  \
Model
NearestCentroid                    0.76               0.72     0.72      0.85
GaussianNB                         0.91               0.66     0.66      0.94
QuadraticDiscriminantAnalysis      0.92               0.64     0.64      0.95
LinearDiscriminantAnalysis         0.98               0.53     0.53      0.98
LabelPropagation                   0.98               0.53     0.53      0.97
LabelSpreading                     0.98               0.52     0.52      0.97
DecisionTreeClassifier             0.97               0.52     0.52      0.97
ExtraTreeClassifier                0.97               0.51     0.51      0.97
BernoulliNB                        0.98               0.51     0.51      0.97
LGBMClassifier                     0.98               0.50     0.50      0.98
SVC                                0.98               0.50     0.50      0.98
SGDClassifier                      0.98               0.50     0.50      0.98
RidgeClassifierCV                  0.98               0.50     0.50      0.98
RidgeClassifier                    0.98               0.50     0.50      0.98
PassiveAggressiveClassifier        0.98               0.50     0.50      0.98
LinearSVC                          0.98               0.50     0.50      0.98
LogisticRegression                 0.98               0.50     0.50      0.98
DummyClassifier                    0.98               0.50     0.50      0.98
CalibratedClassifierCV             0.98               0.50     0.50      0.98
RandomForestClassifier             0.98               0.50     0.50      0.98
AdaBoostClassifier                 0.98               0.50     0.50      0.98
XGBClassifier                      0.98               0.50     0.50      0.98
KNeighborsClassifier               0.98               0.50     0.50      0.98
BaggingClassifier                  0.98               0.50     0.50      0.98
Perceptron                         0.98               0.50     0.50      0.98
ExtraTreesClassifier               0.98               0.50     0.50      0.98

                               Time Taken
Model
NearestCentroid                      0.12
GaussianNB                           0.11
QuadraticDiscriminantAnalysis        0.16
LinearDiscriminantAnalysis           0.35
LabelPropagation                   291.88
LabelSpreading                     440.02
DecisionTreeClassifier               0.34
ExtraTreeClassifier                  0.13
BernoulliNB                          0.16
LGBMClassifier                       0.65
SVC                                 58.79
SGDClassifier                        0.19
RidgeClassifierCV                    0.17
RidgeClassifier                      0.15
PassiveAggressiveClassifier          0.16
LinearSVC                            5.60
LogisticRegression                   0.32
DummyClassifier                      0.08
CalibratedClassifierCV              16.47
RandomForestClassifier               7.30
AdaBoostClassifier                   3.03
XGBClassifier                        3.92
KNeighborsClassifier                 3.28
BaggingClassifier                    1.88
Perceptron                           0.14
ExtraTreesClassifier                 4.95